@(title: String)(body: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@controllers.StaticAssets.prod("stylesheets/main.css")">
        @*<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">*@
        <link rel="shortcut icon" type="image/png" href="@controllers.StaticAssets.dev("images/favicon.png")">

        <script src="@controllers.StaticAssets.at("javascripts/app.js")" type="text/javascript"></script>
    </head>
    <body>
        @body
    </body>
</html>
